<!doctype html>
<html lang="en">
<style>
    #aaa{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -3rem;
        margin: auto;
        display: block;
        width:9rem;
        height: 3rem;
        border-radius:0.5rem;
        background: rgba(0,0,0,.4);
        color: white;
        text-decoration: none;
        text-align: center;
        line-height: 3rem;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iwork</title>
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/yindao.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/swiper.jquery.min.js"></script>
    <script src="/js/yindao.js"></script>
</head>
<body>
<div class="swiper-container swiper-container-h">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/imgs/y10.jpg" alt="" height="100%"></div>
        <div class="swiper-slide" height="100%">
            <div class="swiper-container swiper-container-v">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/imgs/y2.jpg" alt="" height="100%"></div>
                    <div class="swiper-slide"><img src="/imgs/y3.jpg" alt="" height="100%"></div>
                    <div class="swiper-slide"><img src="/imgs/y4.jpg" alt="" height="100%"></div>
                    <div class="swiper-slide"><img src="/imgs/y5.jpg" alt="" height="100%"></div>
                    <div class="swiper-slide"><img src="/imgs/y6.jpg" alt="" height="100%"></div>
                </div>
                <div class="swiper-pagination swiper-pagination-v"></div>
            </div>
        </div>
        <div class="swiper-slide"><img src="/imgs/y7.jpg" alt="" height="100%"></div>
        <div class="swiper-slide"><img src="/imgs/y8.jpg" alt="" height="100%"><a href="/" id="aaa">立即使用</a></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-h"></div>
</div>
<script>
    var swiperH = new Swiper('.swiper-container-h', {
        pagination: '.swiper-pagination-h',
        paginationClickable: true,
        spaceBetween: 50
    });
    var swiperV = new Swiper('.swiper-container-v', {
        pagination: '.swiper-pagination-v',
        paginationClickable: true,
        direction: 'vertical',
        spaceBetween: 50
    });
</script>
</body>
</html>