<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;" ng-click="back()"></a>
    <h1 class="mui-title">消息</h1>
</header>
<div class="mui-content">
    <div class="mui-card">
        <!--页眉，放置标题-->
        <div class="mui-card-header">
            <h2>{{title}}</h2>
        </div>
        <h6>作者：{{name}}</h6>
        <!--内容区-->
        <div class="mui-card-content">
            <h5>{{con}}</h5>
        </div>
        <!--页脚，放置补充信息或支持的操作-->
        <h6>{{time}}</h6>
        <div class="mui-card-footer ss">休息休息~~~</div>
    </div>
</div>
<ul class="userlist">

</ul>
<ul id="messages"></ul>

<input id="m" autocomplete="off" /><button id="btn">发送</button>

<script>
    $(function () {
            var socket = io.connect('ws://localhost:3000');
            setTimeout(function () {
                socket.emit('new', myuser)
            }, 0)
            var myuser = name;
            var userlist = $(".userlist")
            socket.on('login', function (user,index) {
                if (index >= 1) {
                    for (var i = 0; i < index; i++) {
                        var str = `<li id=${user[i]}>${user[i]}</li>`
                        userlist.append(str)
                    }
                }
            })
            socket.on('logined',function (user) {
                var str = `<li id=${user}>${user}</li>`
                userlist.append(str)
            })
            var nowid = 0;
            $('.userlist').on('click', 'li', function () {
                nowid = $(this)[0].innerText
            })
            socket.on('receive private message', function (res) {
                var str = `<li>${res.myid}:${res.con}</li>`
                $("#messages").append(str)
            })
            $('#btn').click(function () {
                var option = {
                    'myid': myuser,
                    'recid': nowid,
                    'type': 'plain',
                    'con': $("#m").val(),
                }
                socket.emit('chat message', option);
            });
            socket.on('user left',function (res) {
                $('#'+res).remove()
            })
    })
</script>